<h1><%= "Testing" %></h1>
<%= link_to "Test Contexts", :controller => 'test_contexts'%><br/>
<%= link_to "Test Runs", :controller => 'test_runs'%><br/>
<%= link_to "Test Group Templates", :controller => 'test_group_templates'%><br/>
<%= link_to "Test Task Templates", :controller => 'test_task_templates'%><br/>
<%= link_to "Test Groups", :controller => 'test_groups'%><br/>
<%= link_to "Test Tasks", :controller => 'test_tasks'%><br/>
